html,
body,
#root {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    //background: #3732a8;

    background-image: url("../assets/Background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Pinscher", sans-serif;

    overflow-x: hidden;
}

@font-face {
    font-family: "Pinscher";
    src: url("../assets/SHPinscher-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

#root {
    max-width: none;

    margin: 0;
    padding: 0;

    text-align: initial;

    display: block;
}

* {
    box-sizing: border-box;
}

/* =========================
   FULLSCREEN PAGE WRAPPER
========================= */

.page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-between;

    overflow: hidden;

    padding-top: 20px;
    padding-bottom: 20px;
}