
.game-title{
    color: orange;
    font-size: 200px;
    margin-top: -20px;
    margin-bottom: 5px;
}

.landing-title {
    color: orange;

    font-size: clamp(48px, 24vw, 96px);

    margin-top: -10px;

    transition:
            transform 0.3s ease,
            color 0.3s ease,
            text-shadow 0.3s ease,
            opacity 0.3s ease;
}

/* =========================
   ACTIVE START TITLE
========================= */

.clickable {
    cursor: pointer;

    text-shadow: 0 0 10px orange;

    animation: pulseGlow 2s infinite ease-in-out;
}

.clickable:hover {
    transform: scale(1.00);

    color: #ffd27a;

    text-shadow:
            0 0 10px orange,
            0 0 20px orange,
            0 0 30px orange;
}

.clickable:active {
    transform: scale(0.94);
}

/* =========================
   TITLE GLOW ANIMATION
========================= */

@keyframes pulseGlow {

    0% {
        text-shadow: 0 0 8px orange;
    }

    50% {
        text-shadow:
                0 0 14px orange,
                0 0 24px orange;
    }

    100% {
        text-shadow: 0 0 8px orange;
    }
}

/* =========================
   INPUT
========================= */

.input {
    width: 400px;

    border: none;

    border-radius: 10px;

    text-align: center;

    background: rgba(255,255,255,0.2);

    color: orange;

    outline: none;

    font-size: 18px;

    margin-bottom: 80px;
    margin-top: -60px;
}

.input::placeholder {
    color: rgba(255,165,0,0.7);
}